*{
    padding: 0%;
    margin: 0%;
    font-family: josefin sans, sans-serif; 
    box-sizing: border-box;
}
.body{
    width: 100%;
    height: 100vh;
    background-image:url(../images/img28.jpg);
    background-size: cover;
    background-position: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}


li{
    width: auto;    
    position: relative;
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1rem;
    display: block;
    transition: 0s;
}


.bar_content{
    padding-top: 20px;
    display: flex;
    text-align: center;
    height: 80px;
    flex: 1 1;
}
.logo{
    margin-left: 30px;
    font-size: 30px;
    font-weight: bold;
    color: white;   
}
.logo > span{
    color: rgb(24, 4, 4);
    font-size: 30px;
}
li a:hover{
    color: rgb(21, 12, 10);
}
ul{
    margin-left: 5rem;
}

.container{
    position: absolute;
    width: 25rem;
    min-height: 30rem;
    background: rgb(255, 255, 255, 0.1);
    border-radius: 10px;
    align-items: center;
    box-shadow:  0 25px 45px rgba(13, 10, 10, 0.5);
    top: 9rem;   
    right: 3rem;
    border: solid 1px rgb(255, 255, 255, 0.5);
    border-right: solid 1px rgb(255, 255, 255, 0.2);
    border-bottom: solid 1px rgb(255, 255, 255, 0.2);
}
.container div h3{
    font-size: 30px;
    font-weight: bold;
    color: white;   
    margin-top: 15px;
}
.login_form{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;

}
.login_form > h2{
    font-size: 3rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 35px;
}
.input{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: solid 1px rgb(255, 255, 255, 0.5);
    padding: 0 10px;
    margin-bottom: 15px;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(12, 12, 12);
    transition: 0s;
}
.submit{
    background: rgba(13, 10, 10, 0.1);
    color: white;
    padding: 10px;
    border: solid 1px rgb(255, 255, 255, 0.3);
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    transition: 0s;
}
.submit:hover{
   transform: scale(1.2);
}
.forgot{
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: bold;
    text-align: right; 
}
.sign_up{
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: bold;
    text-align: right; 
    padding-right: 100px;
    padding-top: 0px;
}
a   :hover{
    transform: scale(1.2);
    cursor: pointer;
}
.text{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-top: 100px;
}
.text h2{
    font-size: 3rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 35px;
}
.text h3{
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-align: left;
    margin: 35px;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: rgb(8, 4, 4, 0.5);
    border-top: solid 1px rgb(255, 255, 255, 0.5);
    border-bottom: solid 1px rgb(255, 255, 255, 0.5);
}
* {
    font-family: sans-serif; /* Change your font family */
  }
  
  .content-table {
    
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 800px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  .content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }
  
  .content-table th,
  .content-table td {
    padding: 12px 15px;
  }
  
  .content-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  .container_table{
    display: flex;
    justify-content: center;    
  }
  .box .inputBox label {
    color: #fff;
}
.box .inputBox input {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: solid 1px rgb(255, 255, 255, 0.5);
    padding: 0 10px;
    margin-bottom: 15px;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(12, 12, 12);
    transition: 0s;
}
.box input[type="submit"], .box button[type="submit"], a.button {
    font-family: sans-serif;
    background: #03a9f4;
    font-size: 11px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    padding: 10px 20px;
    letter-spacing: 2px;
    outline: none;
    text-transform: uppercase;
    text-decoration: none;
    margin: 2px 10px 2px 0;
    display: inline-block;
}

.box input[type="submit"]:hover, .box button[type="submit"]:hover, a.button:hover {
    opacity: 0.8;
}
.box {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.8);
    margin: auto auto;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box h2 {
    margin: 0 0 30px 0;
    padding: 0;
    color: #fff;
    text-align: center;
}
.create_vocabulary{
    max-width: 500px;
    display: flex;
    margin: auto;
}
label{
    color: rgb(0, 0, 0);
    font-weight: bold;
}
